<%# プロフィール部分 %>
<div class="profile">
  <div class="profile_left">
    <div class="profile_image">
      <%= image_tag("mens_silhouette.jpg", class:"mens_silhouette",:size =>'150x150')%>
    </div>
    <% if user_signed_in? %>
      <div class="follow_btn">
        <% unless current_user?(@user) %>
          <div id="follow_form">
            <% if current_user.following?(@user) %>
              <%= render 'unfollow' %>
            <% else %>
              <%= render 'follow' %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% @user ||= current_user %>
    <div class="stats">
      <%= link_to 'フォロー中：', following_user_path(@user) %>
        <strong id="following" class="stat">
          <%= @user.followings.count %>
        </strong>
      <br>
      <%= link_to 'フォロワー：', followers_user_path(@user) %>
        <strong id="followers" class="stat">
          <%= @user.followers.count %>
        </strong>
    </div>
  </div>
  <div class="profile_info">
    <div>ユーザー名： <%= @nickname %></div>
    <div>年齢： <%= @age %></div>
    <div>肌タイプ： <%= @skintype %></div>
  </div>
</div>
<%# プロフィール部分 %>

<%# レビュー一覧部分 %>
<div class="contents row">
  <div class="contents_title">
    〜 <%= @nickname %>さんのレビュー一覧 〜
  </div>
  <ul class="review_lists">
    <% @reviews.reverse_each do |review| %>
      <div class="review_list">
        <div class="more">
          <span><%= image_tag 'arrow_top.png' %></span>
            <ul class="more_list">
              <li>
                <%= link_to '詳細', review_path(review.id), method: :get %>
              </li>
                <% if user_signed_in? && current_user.id == review.user_id %>
              <li>
                <%= link_to '編集', edit_review_path(review.id), method: :get %>
              </li>
              <li>
                <%= link_to '削除', review_path(review.id), method: :delete %>
              </li>
              <% end %>
            </ul>
        </div>
        <div class="review">
          <div class="reviw_image">
            <%= image_tag review.image.variant(resize: '120x180'), class: 'review_show_image' %>
          </div>
          <div class="review_info">
            <div class="review_item_name">
              商品名：<%= review.item_name %>
            </div>
            <div class="review_brand">
              ブランド名：<%= review.item_brand %>
            </div>
            <div class="review_brand">
              メーカー名：<%= review.item_maker %>
            </div>
            <div class="review_item_category">
              カテゴリー：<%= review.category.name %>
            </div>
            <div class="review_item_rate">
              評価：<%= review.rate %>
            </div>
            <div class="review_item_rate" id="star-rate-<%= review.id %>"></div>
                <script>
                $('#star-rate-<%= review.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= review.rate %>,
                });
                </script>
            <span class="reviwe_content">レビュー：<%= review.content %></span>
          </div>
          <span class="name">
            <a href="/users/<%= review.user.id %>">
              <span>投稿者:</span><%= review.user.nickname %>
            </a>
          </span>
        </div>
      </div>
    <% end %>
  </ul>
</div>
<%# レビュー一覧部分 %>