      <div>
            <p class="form_exp">写真　※必須</p>
            <%= form.file_field :image, id:"item-image" %>
      </div>
      <div>
            <p class="form_exp">商品名　※必須</p>
            <%= form.text_field :item_name, placeholder: "商品名を入力してください" %>
      </div>
      <div>
            <p class="form_exp">ブランド名　※必須</p>
            <%= form.text_field :item_brand, placeholder: "ブランド名を入力してください" %>
      </div>
      <div>
            <p class="form_exp">メーカー名　※必須</p>
            <%= form.text_field :item_maker, placeholder: "メーカー名を入力してください" %>
      </div>
      <div>
            <p class="form_exp">カテゴリー　※必須</p>
            <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
      </div>
      <br>
      <p class="form_exp">星評価　※必須</p>
      <div class="form" id="star">
            <%= form.label :rate ,"評価：", id: "e"%>
            <%= form.hidden_field :rate, id: :review_star %>
      </div>
      <br>
      <script>
            $('#star').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'review[rate]'
            });
      </script>
      <div>
            <p class="form_exp">レビュー　※必須</p>
            <%= form.text_area :content, placeholder: "レビューを入力してください", rows: "10" %>
      </div>
      <%= form.submit "SEND" %>